body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #8B4513;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-image {
    width: 40%;
    border-radius: 10px;

}

h2 {
   color: #8B4513;

}

.ingredients,
.instructions {
    margin-top: 20px;
}

.ingredients ul {
    list-style: square;
    padding-left: 20px;
}

.instructions ol {
    list-style: decimal;
    padding-left: 20px;
}

.video {
    margin-top: 20px;
    text-align: center;
}

.video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 10px;
}

.video a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    color: #8B4513;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}