body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f93cad; 
  }

header h1 {
    margin: 0;
    font-size: 2.5rem;
  
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-image {
    width: 40%;
    border-radius: 10px;

}

h2 {
   color: #f93cad;

}

.ingredients,
.instructions {
    margin-top: 20px;
}

.ingredients ul {
    list-style: square;
    padding-left: 20px;
}

.instructions ol {
    list-style: decimal;
    padding-left: 20px;
}

.video {
    margin-top: 20px;
    text-align: center;
}

.video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 10px;
}

.video a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #f93cad;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    color: #f93cad;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f93cad;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }
  
  .back-button {
    margin-right: 20px; /* Spacing between button and title */
    padding: 10px 15px;
    font-size: 16px;
    color: #000;
    background-color: #f8f8f8;;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  